<div class="row justify-content-center">
  <div class="col-lg-8 ">
    <div class="card border border-dark-light">
      <div class="card-body p-4">
        <h5 class="card-title fw-semibold mb-4">Edit Product</h5>
        <form
          action="/admin/product/edit/<%= product._id%>/?_method=PUT"
          method="post"
        >
          <div class="form-group mt-2">
            <label for="productName">Product Name:</label>
            <input
              type="text"
              class="form-control"
              id="productName"
              name="title"
              value="<%= product.title %>"
              placeholder="Enter product name"
              required
            />
          </div>
          <div class="form-group mt-2">
            <label for="category">Category:</label>
            <select class="form-select" name="category" id="category" required>
                <option selected value="<%= product.category._id %>"><%= product.category.title %></option>
                <% categories.forEach(category=> { %> <% if (category.title !== product.category.title) { %>
                <option value="<%= category._id %>"><%= category.title %></option>
                <% } %> <% }) %>
            </select>
          </div>
          <div class="form-group mt-2">
            <label for="description">Description:</label>
            <textarea
              class="form-control"
              id="description"
              rows="3"
              name="description"
              placeholder="Enter product description"
              required
              >
            <%- product.description %></textarea>
          </div>
          <div class="form-group mt-2">
            <label for="productPrice">Product Price:</label>
            <input
              type="number"
              class="form-control"
              id="productPrice"
              name="productPrice"
              value="<%= product.productPrice %>"
              placeholder="Enter product price"
              required
            />
          </div>
          <div class="form-group mt-2">
            <label for="salesPrice">Sales Price:</label>
            <input
              type="number"
              class="form-control"
              id="salesPrice"
              name="salePrice"
              value="<%= product.salePrice %>"
              placeholder="Enter sales price"
              required
            />
          </div>
          <div class="form-group mt-2">
            <label for="quantity">Quantity:</label>
            <input
              type="number"
              class="form-control"
              id="quantity"
              name="quantity"
              value="<%= product.quantity %>"
              placeholder="Enter quantity"
              required
            />
          </div>
          <div class="form-group">
            <label for="salePrice">Image Url</label>
            <input type="text" class="form-control" name="image" id="image" placeholder="Enter image url" value="<%= product.image %>" required>
        </div>
        <button type="submit" class="btn btn-primary mt-2">Save Changes</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
