<div class="row">
  <div class="col-lg-12">
    <div class="border border-dark-light">
      <div class="card-body p-4">
        <div class="d-flex justify-content-between">
          <h5 class="card-title fw-semibold mb-4">Edit Product</h5>
          <!-- <a class="btn btn-primary" href="/admin/product/edit/image/<%= product._id %>">Change Images</a> -->
        </div>

        <form
          action="/admin/product/edit/<%= product._id %>?_method=PUT"
          method="post"
        >
          <div class="form-group mt-2">
            <label for="productName">Product Name:</label>
            <input
              type="text"
              class="form-control"
              id="productName"
              name="title"
              value="<%= product.title %>"
              placeholder="Enter product name"
              required
            />
          </div>
          <div class="form-group mt-2">
            <label for="category">Category:</label>
            <select class="form-select" name="category" id="category" required>
              <option selected value="<%= product?.category?._id %>">
                <%= product?.category?.title %>
              </option>
              <% categories.forEach(category => { %> <% if (category.title !==
              product?.category?.title) { %>
              <option value="<%= category._id %>"><%= category.title %></option>
              <% } %> <% }) %>
            </select>
          </div>
          <div class="form-group mt-2">
            <label for="description">Description:</label>
            <textarea
              class="form-control"
              id="description"
              rows="3"
              name="description"
              placeholder="Enter product description"
              required
            >
<%= product.description %></textarea
            >
          </div>
          <div class="form-group mt-2">
            <label for="productPrice">Product Price:</label>
            <input
              type="number"
              class="form-control"
              id="productPrice"
              name="productPrice"
              value="<%= product.productPrice %>"
              placeholder="Enter product price"
              required
            />
          </div>
          <div class="form-group mt-2">
            <label for="salesPrice">Sales Price:</label>
            <input
              type="number"
              class="form-control"
              id="salesPrice"
              name="salePrice"
              value="<%= product.salePrice %>"
              placeholder="Enter sales price"
              required
            />
          </div>
          <div class="form-group mt-2">
            <label for="quantity">Quantity:</label>
            <input
              type="number"
              class="form-control"
              id="quantity"
              name="quantity"
              value="<%= product.quantity %>"
              placeholder="Enter quantity"
              required
            />
          </div>
          <button type="submit" class="btn btn-primary mt-2">
            Save Changes
          </button>
        </form>

        <div class="col-lg-12">
          <div class="card">
            <div class="card-body p-4">
              <% product.images.forEach((element, index) => { %>
              <form
                action="/admin/product/edit/image/<%= product.images[index]._id %>/?_method=PUT"
                method="post"
                enctype="multipart/form-data"
              >
                <div
                  class="mb-3 d-flex align-items-center justify-content-between"
                >
                  <img
                    src="<%= product.images[index].thumbnailUrl %>"
                    alt="Image"
                    id="previewImage<%= index %>"
                    class="img-thumbnail mr-3"
                    style="max-width: 150px"
                  />
                  <div class="d-flex flex-column">
                    <input
                      type="file"
                      class="form-control"
                      id="image<%= index %>"
                      accept="image/*"
                      style="display: none"
                      name="image"
                    />
                    <button
                      type="button"
                      class="btn btn-sm btn-primary mb-2 update-image-button"
                      data-index="<%= index %>"
                    >
                      <i class="fas fa-upload"></i> Select Image
                    </button>
                    <button
                      type="submit"
                      class="btn btn-sm btn-success"
                      id="submitImage<%= index %>"
                      disabled
                    >
                      <i class="fas fa-edit"></i> Update Image
                    </button>
                    <!-- <button type="submit" class="btn btn-sm btn-danger mt-2" id="submitImage<%= index %>" onclick="removeImage(`<%= product.images[index]._id %>`)" disabled>
                      <i class="fas fa-delete"></i> Remove Image
                    </button> -->
                    <button
                      type="button"
                      onclick="removeImage(`<%= product.images[index]._id %>`)"
                      class="btn btn-sm btn-danger mt-2"
                    >
                      <i class="fas fa-trash"></i> Remove Image
                    </button>
                  </div>
                </div>
              </form>
              <% }) %>
              <form
                action="/admin/product/edit-product/images/upload/new/<%= product._id %>"
                method="post"
                enctype="multipart/form-data"
              >
                <div
                  class="mb-3 d-flex align-items-center justify-content-between"
                >
                  <div id="previewNewImages"></div>
                  <div>
                    <input
                      type="file"
                      class="form-control"
                      id="newImages"
                      accept="image/*"
                      name="files"
                      multiple
                      style="display: none"
                    />
                    <div class="d-flex flex-column gap-2">
                      <button
                        type="button"
                        class="btn btn-sm btn-primary update-image-button"
                        onclick="document.getElementById('newImages').click()"
                      >
                        <i class="fas fa-upload"></i> Select Images
                      </button>
                      <button
                        type="submit"
                        class="btn btn-sm btn-success"
                        id="submitNewImages"
                        disabled
                      >
                        <i class="fas fa-edit"></i> Upload Images
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  // Function to handle file input change and update preview
  const updateImageButtons = document.querySelectorAll(".update-image-button");

  function handleFileInputChange(index) {
    const fileInput = document.getElementById("image" + index);
    const previewImage = document.getElementById("previewImage" + index);
    const submitButton = document.getElementById("submitImage" + index);

    fileInput.addEventListener("change", (event) => {
      if (fileInput.files && fileInput.files[0]) {
        const reader = new FileReader();
        reader.onload = function (e) {
          previewImage.src = e.target.result;
        };
        reader.readAsDataURL(fileInput.files[0]);
        // Enable the "Update Image" button when a file is selected
        submitButton.removeAttribute("disabled");
      } else {
        // Disable the "Update Image" button if no file is selected
        submitButton.setAttribute("disabled", "disabled");
      }
    });

    // Trigger the hidden file input
    fileInput.click();
  }

  // Add event listeners to all update image buttons
  updateImageButtons.forEach((button, index) => {
    button.addEventListener("click", (event) => {
      handleFileInputChange(index);
    });
  });
</script>

<script>
  function removeImage(id) {
    const imageId = id;
    const url = `/admin/product/images/delete/${imageId}`;
    const imageElement = document.getElementById(`previewImage${imageId}`);

    fetch(url, {
      method: "DELETE",
    })
      .then((response) => {
        if (response.ok) {
          console.log("Image removed successfully");
          location.reload();
          return response.json();
        } else {
          console.error("Failed to remove image");
        }
      })
      .catch((error) => {
        console.error("An error occurred:", error);
      });
  }
</script>

<script>
  // JavaScript to handle image preview
  document.getElementById("newImages").addEventListener("change", function () {
    const previewContainer = document.getElementById("previewNewImages");
    previewContainer.innerHTML = ""; // Clear previous previews

    const files = this.files;
    for (let i = 0; i < files.length; i++) {
      const file = files[i];
      const reader = new FileReader();

      reader.onload = function (e) {
        const img = document.createElement("img");
        img.src = e.target.result;
        img.classList.add("img-thumbnail");
        img.style.maxWidth = "150px";

        const previewDiv = document.createElement("div");
        previewDiv.style.position = "relative"; // Make the container relative for absolute positioning

        // Create a remove button (X) for each image
        const removeButton = document.createElement("button");
        removeButton.innerText = "X";
        removeButton.classList.add(
          "btn",
          "btn-sm",
          "btn-danger",
          "remove-button"
        );
        removeButton.style.position = "absolute";
        removeButton.style.top = "0";
        removeButton.style.left = "0";
        removeButton.addEventListener("click", function () {
          previewDiv.remove(); // Remove the preview when the button is clicked
        });

        previewDiv.appendChild(img);
        previewDiv.appendChild(removeButton);

        previewContainer.appendChild(previewDiv);
      };

      reader.readAsDataURL(file);
    }

    // Enable the "Upload Images" button
    document.getElementById("submitNewImages").removeAttribute("disabled");
  });
</script>
