<div class="shop-page-wrapper shop-page-padding ptb-100">
  <div class="container-fluid">
    <div class="row gy-5">
      <div class="col-lg-3 order-2 order-lg-1">
        <%- include('../../partials/flash-message.ejs') %>
        <div class="shop-sidebar mr-50">
          <div class="sidebar-widget mb-50">
            <h3 class="sidebar-title">Search Products</h3>
            <div class="sidebar-search">
              <form action="/shop" method="get">
                <input placeholder="Search Products..." type="text" id="search"
                name="search" value="<%= search %>" />
                <button><i class="ti-search"></i></button>
              </form>
            </div>
          </div>
          <div class="sidebar-widget mb-45">
            <h3 class="sidebar-title">Categories</h3>
            <div class="sidebar-categories">
              <ul>
                <% categories.forEach(element => { %>
                  <li>
                      <a
                          href="/shop?page=<%= currentPage - 1 %>&search=<%= search %>&category=<%= element._id %>"
                          ><%= element.title %>
                      </a>
                  </li>
                  <% }) %>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-9 order-1 order-lg-2">
        <div class="shop-product-wrapper res-xl res-xl-btn">
          <div class="shop-bar-area">
            <div class="shop-bar pb-60">
              <div class="shop-found-selector">
                <div class="shop-selector">
                  <label>Sort By : </label>
                  <select name="sortBy" id="sortBySelect" data-current-page="<%= currentPage %>"
                    data-category="<%= category %>">
                    <option <%= sortBy === "default" ? "selected" : "" %> value="default">Default</option>
                    <option <%= sortBy === "az" ? "selected" : "" %> value="az">A to Z</option>
                    <option <%= sortBy === "za" ? "selected" : "" %> value="za">Z to A</option>
                    <option <%= sortBy === "price-asc" ? "selected" : "" %> value="priceasc">price:Low to High</option>
                    <option <%= sortBy === "price-desc" ? "selected" : "" %> value="pricedesc">price:High to Low</option>
                  </select>
                </div>
              </div>
              <div class="shop-filter-tab">
                <div class="shop-tab nav" role="tablist">
                  <a
                    class="active"
                    href="#grid-sidebar1"
                    data-bs-toggle="tab"
                    role="tab"
                    aria-selected="false"
                  >
                    <i class="ti-layout-grid4-alt"></i>
                  </a>
                  <a
                    href="#grid-sidebar2"
                    data-bs-toggle="tab"
                    role="tab"
                    aria-selected="true"
                  >
                    <i class="ti-menu"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="shop-product-content tab-content">
              <div id="grid-sidebar1" class="tab-pane fade active show ">
                <div class="row">
                  <!-- product loop  -->
                  <% products.forEach(product => { %>
                  <div class="col-lg-6 col-md-6 col-xl-3">
                    <div class="product-wrapper mb-30">
                      <!-- Product Image and Actions -->
                      <div class="product-img">
                        <a href="/product/<%= product._id %>">
                          <img
                            src="<%= product.images[0].thumbnailUrl %>"
                            alt="<%= product.title %>"
                            width="200px"
                            height="310px"
                          />
                        </a>
                        <!-- <span class="bg-danger" >hot</span> -->
                        <div class="product-action">
                          <a
                            id="wishlistButton"
                            class="animate-left"
                            title="Wishlist"
                            onclick="toggleWishlist('<%= product._id %>')"
                          >
                          <i class='bx bxs-heart'></i>
                          </a>
                          <% if (product.quantity) { %>
                          <a
                            class="animate-top"
                            title="Add To Cart"
                            onclick="addToCart(`<%= product._id %>`)"
                          >
                            <i class="pe-7s-cart"></i>
                          </a>
                          <% } %>
                        </div>
                      </div>
                      <!-- Product Details -->
                      <div class="product-content">
                        <div class="d-flex justify-content-between">
                          <medium
                              class="card-title font-weight-bold"
                              style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap"
                          >
                              <%= product.title %>
                              <h6 class="small">Category:<%= product.category.title %></h6>
                          </medium>
                      </div>
                        <!-- <div class="d-flex justify-content-between">
                          <span
                            class="text-decoration-line-through text-secondary"
                            >₹ <%= product.productPrice %></span
                          >
                          <span class="card-text h4"
                            >₹ <%= product.salePrice %></span
                          >
                        </div> -->

                        <div class="d-flex justify-content-between">
                          <% if (product.salePrice !== product.productPrice) { %>
                                  <div class="">
                                      <span class="text-decoration-line-through text-secondary">₹ <%= product.productPrice %></span>
                                      <span class="text-success" ><%= product.category.offer %>% Off</span>
                                  </div>
                          <% } %>
                          <span class="card-text h4">₹ <%= product.salePrice %></span>
                      </div>
                      </div>
                    </div>
                  </div>
                  <% }) %>
                </div>
              </div>

              <!-- grid sidebar-2 -->
              <div id="grid-sidebar2" class="tab-pane fade">
                <div class="row">
                  <% products.forEach(product => { %>
                  <div class="col-lg-12 col-xl-6">
                    <div
                      class="product-wrapper mb-30 single-product-list product-list-right-pr mb-60"
                    >
                      <div class="product-img list-img-width">
                        <a href="/product/<%= product._id %>">
                          <img
                            src="<%= product.images[0].thumbnailUrl%>"
                            alt="<%= product.title %>"
                          />
                        </a>
                        <!-- <span>hot</span> -->
                      </div>
                      <div class="product-content-list">
                        <div class="product-list-info">
                          <h4>
                            <a href="/product/<%= product._id %>"
                              ><%= product.title%></a
                            >
                          </h4>
                          <div class="d-flex justify-content-between">
                            <span
                              class="text-decoration-line-through text-secondary"
                              >₹ <%= product.productPrice %></span
                            >
                            <span>₹ <%= product.salePrice %></span>
                          </div>
                        </div>
                        <div class="product-list-cart-wishlist">
                          <div class="product-list-cart">
                            <a
                              class="btn-hover list-btn-style"
                              onclick="addToCart(`<%= product._id %>`)"
                              >add to cart</a
                            >
                          </div>
                          <div class="product-list-wishlist">
                            <a
                              id="wishlistButton"
                              class="btn-hover list-btn-wishlist"
                              onclick="toggleWishlist('<%= product._id %>')"
                            >
                            <i class='bx bxs-heart'></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <% }) %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="pagination-style mt-30 text-center">
          <ul>
            <% if (currentPage > 1) { %>
            <li>
              <a
                href="/shop?page=<%= currentPage - 1 %>"
              >
                <i class="ti ti-arrow-left"></i>
                <!-- Font Awesome icon for "Previous" -->
              </a>
            </li>
            <% } %> <% for (let i = 1; i <= Math.ceil(totalProductsCount /
            itemsPerPage); i++) { %>
            <li class="<%= currentPage === i ? 'active' : '' %>">
              <a
                href="/shop?page=<%= i %>"
                ><%= i %></a
              >
            </li>
            <% } %> <% if (currentPage < Math.ceil(totalProductsCount /
            itemsPerPage)) { %>
            <li>
              <a
                href="/shop?page=<%= currentPage + 1 %>"
              >
                <i class="ti ti-arrow-right"></i>
                <!-- Font Awesome icon for "Next" -->
              </a>
            </li>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const sortBySelect = document.getElementById("sortBySelect");
  const currentPage = sortBySelect.getAttribute("data-current-page");
  const category = sortBySelect.getAttribute("data-category");
  const search = document.getElementById("search").value;

  sortBySelect.addEventListener("change", function () {
      const selectedValue = this.value;

      // Define a mapping of sort options to URLs
      const sortOptionsToUrls = {
          default: "/shop/",
          az: `/shop/?page=${currentPage - 1}&search=${search}&category=${category}&sortBy=az`,
          za: `/shop/?page=${currentPage - 1}&search=${search}&category=${category}&sortBy=za`,
          priceasc: `/shop/?page=${currentPage - 1}&search=${search}&category=${category}&sortBy=price-asc`,
          pricedesc: `/shop/?page=${currentPage - 1}&search=${search}&category=${category}&sortBy=price-desc`,
      };

      // Get the corresponding URL for the selected sorting option
      const url = sortOptionsToUrls[selectedValue];

      if (url) {
          // Redirect to the selected URL
          window.location.href = url;
      }
  });
</script>

<!-- add to cart function -->

<script>
  function addToCart(id) {
    const productId = id;
    const url = `/cart/add/${productId}`;
    const cartCount = document.getElementById("cartCount");
    const cartMessage = document.getElementById("cart-message");

    fetch(url, {
        method: "GET",
    })
        .then((response) => {
            if (response.ok) {
                return response.json(); // Assuming server sends JSON
            } else {
                console.error("Failed");
            }
        })
        .then((data) => {
            if (data) {
                console.log(data["message"]);

                // Check if 'count' and 'message' properties exist in data
                if (data.count && data.message) {
                    cartCount.innerText = data.count;
                    cartMessage.innerText = data.message;

                    cartMessage.className = `position-fixed bg-${data.status} text-white p-2 rounded`;
                    cartMessage.style.display = "block";

                    setTimeout(function () {
                        cartMessage.style.display = "none";
                    }, 3000);
                } else {
                    console.error("Unexpected data format");
                }
            }
        })
        .catch((error) => {
            console.error("An error occurred:", error);
        });
}

</script>

<!--wishlist-->

<script>
  function toggleWishlist(id) {
  const productId = id;
  const url = `/wishlist/toggle/${productId}`;
  const wishlistButton = document.getElementById("wishlistButton");
  const cartMessage = document.getElementById("wishlist-message");

  fetch(url, {
      method: "GET",
  })
      .then((response) => {
          if (response.ok) {
              return response.json(); 
          } else {
              console.error("Failed");
          }
      })
      .then((data) => {
          if (data) {
              const iconClass = data.isInWishlist ? "text-danger" : "";
              wishlistButton.innerHTML = `<i class='bx bxs-heart ${iconClass}'></i>`;
              cartMessage.innerHTML = data.message;
              cartMessage.className = `position-fixed bg-${data.status} text-white p-2 rounded`;
              cartMessage.style.display = "block";
              setTimeout(function () {
                  cartMessage.style.display = "none";
              }, 3000);
          } else {
              console.error("Unexpected data format");
          }
      })
      .catch((error) => {
          console.error("An error occurred:", error);
      });
}
</script>