<div class="slider-area">
    <div class="slider-active owl-carousel">
        <div class="single-slider single-slider-book1 bg-img" style="background-image: url(shop/img/slider/3.jpg)">
            <div class="container">
                <div class="slider-animation slider-content-book fadeinup-animated">
                    <h1 class="animated"><span>Knowledge</span> is</h1>
                    <h2 class="animated">Power.</h2>
                    <p class="animated">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <a href="/shop">More Books</a>
                </div>
            </div>
        </div>
        <div class="single-slider single-slider-book1 bg-img" style="background-image: url(shop/img/slider/4.jpg)">
            <div class="container">
                <div class="slider-animation slider-content-book fadeinup-animated">
                    <h1 class="animated"><span>Knowledge</span> is</h1>
                    <h2 class="animated">Power.</h2>
                    <p class="animated">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <a href="/shop">More Books</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- banner area start -->
<div class="banner-area pt-120 pb-110">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="book-banner-wrapper mr-20">
                    <img src="shop/img/banner/13.jpg" alt="">
                    <div class="banner-book-style1">
                        <h3>Big Sell For <br>December</h3>
                        <h2>50% OFF</h2>                        
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="book-banner-wrapper ml-20">
                    <img src="shop/img/banner/14.jpg" alt="">
                    <div class="banner-book-style2 text-center">
                        <h2>Learn More </h2>
                        <img src="shop/img/icon-img/2.png" alt="">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- banner area end -->


<!-- best product area start -->
<div class="best-product-area pb-15">
    <div class="pl-100 pr-100">
        <div class="container-fluid">
            <div class="section-title-3 text-center mb-40">
                <h2>Best Products</h2>
            </div>
            <div class="best-product-style">
                <div class="tab-content">
                    <div class="tab-pane active show fade" id="home6" role="tabpanel">
                        <div class="custom-row">
                            <% bestProducts.forEach(product => { %>
                                <div class="custom-col-5 custom-col-style mb-4">
                                    <div class="product-wrapper">
                                        <div class="product-img-2">
                                            <a href="/product/<%= product._id %>">
                                                <img src="<%= product.images[0].thumbnailUrl %>" style="width: 300px; height: 400px;" class="img-fluid" alt="">
                                            </a>
                                            <div class="product-action-2">
                                                <a class="animate-left add-style-2" title="Add To Cart" onclick="addToCart(`<%= product._id %>`)">Add to Cart <i class="ti-shopping-cart"></i></a>
                                                <a class="animate-right wishlist-style-2"  id="wishlistButton" title="Wishlist" onclick="toggleWishlist('<%= product._id %>')"><i class="ti-heart"></i></a>
                                            </div>
                                        </div>
                                        <div class="product-content-2 text-center">
                                            <h4><a href="#"><%= product?.title %></a></h4>
                                            <h6><%= product?.category?.title %></h6>
                                        </div>
                                    </div>
                                </div>
                            <% }) %>
                                                        
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-center mb-10">
                <a href="/shop" class="btn border border-dark-light mb-2 pb-1 font-weight-bold h-auto">View More</a>
            </div>

        </div>
    </div>
</div>
<!-- best product area end -->


<!-- discount area start -->
<div class="container-fluid">
    <div class="section-title text-center mb-60">
        <h2>New Arrivals</h2>
    </div>
    <div class="product-style">
        <div class="arrival-active owl-carousel">
            <% products.forEach(product => { %>
            <div class="product-wrapper card mb-4 ml-5 " style="width: 250px; height: 480px;">
                <div class="product-img position-relative ">
                    <a href="/product/<%= product._id %>">
                        <img
                            src="<%= product.images[0].thumbnailUrl %>"
                            style="width: 250px; height: 350px; "
                            alt="<%= product.title %>"
                            class="card-img-top"
                        />
                    </a>
                    <span class="new bg-danger">New</span>
                    <div class="product-action position-absolute start-0 bottom-0">
                        <a
                            id="wishlistButton"
                            class="animate-left"
                            title="Wishlist"
                            onclick="toggleWishlist('<%= product._id %>')"
                          >
                          <i class="pe-7s-like"></i>
                        </a>
                        <% if (product.quantity) { %>
                        <a class="animate-top" title="Add To Cart"  onclick="addToCart(`<%= product._id %>`)" >
                            <i class="pe-7s-cart"></i>
                        </a>
                        <% } %>
                    </div>
                </div>
                <div class="product-content card-body" style="height: 100px">
                    <!-- Adjust the height as needed -->
                    <div class="d-flex justify-content-between">
                        <medium
                            class="card-title font-weight-bold"
                            style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap"
                        >
                            <%= product?.title %>
                            <h6 class="small">Category:<%= product?.category?.title %></h6>
                        </medium>
                    </div>
                    <!-- <div class="d-flex justify-content-between">
                        <span class="text-decoration-line-through text-secondary">
                            ₹ <%= product.productPrice %>
                        </span>
                        <span class="card-text h4">₹ <%= product.salePrice %></span>
                    </div> -->
                </div>
            </div>

            <% }) %>
        </div>
    </div>
</div>
<!-- discount area end -->

<!-- subscribe area start -->
<div class="subscribe bg-img ptb-80" style="background-image: url(shop/img/bg/2.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-6">
                <div class="subscribe-content">
                    <h3>Subscribe to outr newsletter</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's dummy </p>
                </div>
            </div>
            <div class="col-md-12 col-lg-6">
                <div id="mc_embed_signup" class="subscribe-form-2 pr-40">
                    <form action="https://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll" class="mc-form">
                            <input type="email" value="" name="EMAIL" class="email" placeholder="Enter Your E-mail" required>
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div class="mc-news" aria-hidden="true">
                                <input type="text" name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef" tabindex="-1" value="">
                            </div>
                            <div class="clear">
                                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- subscribe area end -->


<!-- add to cart function -->

<script>
    function addToCart(id) {
      const productId = id;
      const url = `/cart/add/${productId}`;
      const cartCount = document.getElementById("cartCount");
      const cartMessage = document.getElementById("cart-message");
  
      fetch(url, {
          method: "GET",
      })
          .then((response) => {
              if (response.ok) {
                  return response.json(); // Assuming server sends JSON
              } else {
                  console.error("Failed");
              }
          })
          .then((data) => {
              if (data) {
                  console.log(data["message"]);
  
                  // Check if 'count' and 'message' properties exist in data
                  if (data.count && data.message) {
                      cartCount.innerText = data.count;
                      cartMessage.innerText = data.message;
  
                      cartMessage.className = `position-fixed bg-${data.status} text-white p-2 rounded`;
                      cartMessage.style.display = "block";
  
                      setTimeout(function () {
                          cartMessage.style.display = "none";
                      }, 3000);
                  } else {
                      console.error("Unexpected data format");
                  }
              }
          })
          .catch((error) => {
              console.error("An error occurred:", error);
          });
  }
  
  </script>

  <!--wishlist-->

<script>
    function toggleWishlist(id) {
    const productId = id;
    const url = `/wishlist/toggle/${productId}`;
    const wishlistButton = document.getElementById("wishlistButton");
    const cartMessage = document.getElementById("wishlist-message");
  
    fetch(url, {
        method: "GET",
    })
        .then((response) => {
            if (response.ok) {
                return response.json(); 
            } else {
                console.error("Failed");
            }
        })
        .then((data) => {
            if (data) {
                const iconClass = data.isInWishlist ? "text-danger" : "";
                wishlistButton.innerHTML = `<i class="pe-7s-like ${iconClass}"></i>`;
                cartMessage.innerHTML = data.message;
                cartMessage.className = `position-fixed bg-${data.status} text-white p-2 rounded`;
                cartMessage.style.display = "block";
  
                setTimeout(function () {
                    cartMessage.style.display = "none";
                }, 3000);
            } else {
                console.error("Unexpected data format");
            }
        })
        .catch((error) => {
            console.error("An error occurred:", error);
        });
  }
  </script>

