<div class="container mt-5">
    <h2 class="text-center mb-4">Ordered Items</h2>
  
    <div class="row">
        <% if (orders && orders.length){ %>
          <% orders.forEach(order => { %>
            <% order.orderItems.forEach(orderItem => { %>
              <div class="col-md-6 mb-4">
                <div class="card shadow shadow-md border">
                  <div class="row no-gutters">
                    <div class="col-md-4">
                      <a href="/product/<%= orderItem.product._id %>">
                        <img class="card-img-top product-img"
                          src="<%= orderItem.product.images[0].thumbnailUrl %>"
                          alt="Product Image"
                        />
                      </a>
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title"><%= orderItem.product.title %></h5>
                        <p class="card-text">Price: <%= orderItem.product.salePrice %> </p>
                        <p class="card-text">Quantity: <%= orderItem.quantity %></p>
                        <p class="card-text">Status: <%= orderItem.status %></p>
                        <a href="/order/<%= orderItem._id %>" class="btn btn-dark h-auto">View Details</a>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted ">Order ID: <%= orderItem._id %></small>
                  </div>
                </div>
              </div>
            <% }) %>
          <% }) %>
        <% }else{ %>
            <li class="list-group-item">No Orders</li>
        <% } %>
      </div>
    </div>