<!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h1>Customers</h1>
                                <%- include('../../partials/flash-message.ejs') %>
                                <% if (customers.length) { %>
                                    <div class="table-responsive">
                                        <table id="usersTable" class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>S.No</th>
                                                    <th>First Name</th>
                                                    <th>Last Name</th>
                                                    <th>Email</th>
                                                    <th>Status</th>
                                                    <th>Status</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% customers.forEach((element, index)=> { %>
                                                    <tr>
                                                        <td>
                                                            <%= index + 1 %>
                                                        </td>
                                                        <td>
                                                            <%= element.firstName %>
                                                        </td>
                                                        <td>
                                                            <%= element.lastName %>
                                                        </td>
                                                        <td><a href="/admin/customers/view/<%= element._id %>">
                                                                <%= element.email %>
                                                            </a></td>
                                                        <td>
                                                            <% if (element.isBlocked) { %> Blocked <% } else { %> Active <% } %>
                                                        </td>
                                                        <td>
                                                            <% if (element.isBlocked) { %>
                                                                <form method="post"
                                                                    action="/admin/customer/unblock/<%= element._id %>?_method=PUT">
                                                                    <button type="submit" class="btn btn-success">Unblock</button>
                                                                </form>
                                                                <% } else { %>
                                                                    <form method="post"
                                                                        action="/admin/customer/block/<%= element._id %>?_method=PUT">
                                                                        <button type="submit" class="btn btn-danger">Block</button>
                                                                    </form>
                                                                    <% } %>
                                                        </td>
                                                    </tr>
                                                    <% }) %>
                                            </tbody>
                                        </table>
                                    </div>
                                    <% } else { %>
                                        No Customers
                                             
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->